USE [master]
GO
/****** Object:  Database [firinprojesi]    Script Date: 31.05.2025 20:55:26 ******/
CREATE DATABASE [firinprojesi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'firinprojesi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\firinprojesi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'firinprojesi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\firinprojesi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [firinprojesi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [firinprojesi]
GO
/****** Object:  Table [dbo].[calisanlar]    Script Date: 31.05.2025 20:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calisanlar](
	[cId] [int] NOT NULL,
	[cIsim] [nvarchar](50) NOT NULL,
	[cSoyisim] [nvarchar](50) NOT NULL,
	[cTlfNo] [nvarchar](50) NOT NULL,
	[fId] [int] NOT NULL,
	[cBasTarihi] [nvarchar](50) NOT NULL,
	[cSifre] [nvarchar](50) NOT NULL,
	[cGorev] [nvarchar](50) NOT NULL,
	[cTcNo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_calisanlar] PRIMARY KEY CLUSTERED 
(
	[cId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[depo]    Script Date: 31.05.2025 20:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[depo](
	[dId] [int] NOT NULL,
	[fId] [int] NOT NULL,
 CONSTRAINT [PK_depo] PRIMARY KEY CLUSTERED 
(
	[dId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[firin]    Script Date: 31.05.2025 20:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[firin](
	[fTlfNo] [nvarchar](50) NOT NULL,
	[fIsim] [nvarchar](50) NOT NULL,
	[fId] [int] NOT NULL,
	[fBolgeKodu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_firin] PRIMARY KEY CLUSTERED 
(
	[fId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IslemKayit]    Script Date: 31.05.2025 20:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IslemKayit](
	[islemId] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciAd] [nvarchar](50) NULL,
	[islemTipi] [nvarchar](50) NULL,
	[tabloAdi] [nvarchar](50) NULL,
	[aciklama] [nvarchar](200) NULL,
	[tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[islemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urun]    Script Date: 31.05.2025 20:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urun](
	[uUrunAd] [nvarchar](50) NOT NULL,
	[uUrunKod] [nvarchar](50) NOT NULL,
	[uUrunMiktar] [int] NOT NULL,
	[uKritikSeviye] [int] NOT NULL,
	[dId] [int] NOT NULL,
	[uId] [int] NOT NULL,
 CONSTRAINT [PK_Urun] PRIMARY KEY CLUSTERED 
(
	[uId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 31.05.2025 20:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[urUrunAd] [nvarchar](50) NOT NULL,
	[urUrunKod] [nvarchar](50) NOT NULL,
	[urUrunMiktar] [int] NOT NULL,
	[urKritikSeviye] [int] NOT NULL,
	[dId] [int] NOT NULL,
	[urId] [int] NOT NULL,
	[urUrunFiyat] [int] NOT NULL,
 CONSTRAINT [PK_Urunler] PRIMARY KEY CLUSTERED 
(
	[urId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunRecetesi]    Script Date: 31.05.2025 20:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunRecetesi](
	[urId] [int] NOT NULL,
	[uId] [int] NOT NULL,
	[miktar] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IslemKayit] ADD  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [dbo].[depo]  WITH CHECK ADD  CONSTRAINT [FK_depo_firin] FOREIGN KEY([fId])
REFERENCES [dbo].[firin] ([fId])
GO
ALTER TABLE [dbo].[depo] CHECK CONSTRAINT [FK_depo_firin]
GO
ALTER TABLE [dbo].[Urun]  WITH CHECK ADD  CONSTRAINT [FK_Urun_depo] FOREIGN KEY([dId])
REFERENCES [dbo].[depo] ([dId])
GO
ALTER TABLE [dbo].[Urun] CHECK CONSTRAINT [FK_Urun_depo]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_depo] FOREIGN KEY([dId])
REFERENCES [dbo].[depo] ([dId])
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_depo]
GO
ALTER TABLE [dbo].[UrunRecetesi]  WITH CHECK ADD  CONSTRAINT [FK_UrunRecetesi_Urun] FOREIGN KEY([uId])
REFERENCES [dbo].[Urun] ([uId])
GO
ALTER TABLE [dbo].[UrunRecetesi] CHECK CONSTRAINT [FK_UrunRecetesi_Urun]
GO
USE [master]
GO
